@charset "UTF-8";

@font-face {
  font-family: "AlternateGotNo1d";
  src: url("AlternateGotNo1D.ttf");
}

#site-title {
  font-family: "AlternateGotNo1D";
  /* font-size: 60px; */
  text-align: center;
}

/* td,
th,
tr {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  height: 20px;
} */

/* table {
  width: 100%;
} */

#submit-button {
  font-weight: bolder;
}

/* #button-container {
  position: relative;
} */

/* #center {
  margin: 0;
  position: absolute;
  left: 50%;
} */

/* for input area matching with the table padding */
/* .table {
  margin-bottom: 2rem;
}

table td {
  position: relative;
}
table td input {
  position: absolute;
  top: 0;
  left: 0;
} */
.bg-dark {
  color: white;
}
